<?php

/**
 * Mesut Vatansever | mesut.vts@gmail.com
 * Date: 16/06/16 10:09
 */

return [

    "basic_auths" => [
        [
            'user' => '',
            'pass' => ''
        ]
    ],

    'app_tokens' => [

    ]
];